
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status, #number_of_objects, #start_model
{
font-size: 18px;
}

body 
{
    background-size:cover;
    background-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px rgb(114, 117, 117);
    border-radius: 10px;
    margin-top: 30px;
}


#title {
   color:aliceblue;
   background-color:rgba(255, 168, 168, 0.604);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border:2px solid red;

}